.textNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #545353; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.leftmenus {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #8b8989; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.fonts {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Palatino Linotype"; TEXT-DECORATION: none
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #002f63; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none
}
.tables {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
	font-size: 11px; TEXT-DECORATION: none
}
.txtbox {
	FONT-SIZE: 9px; WIDTH: 75px; COLOR: #7b7b7d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; TEXT-DECORATION: none
}
.heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #002f63; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.SearchTitle {
	FONT-SIZE: 11px; COLOR: #002f63; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.ecom {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #002f63; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
A.LeftNav:link {
	FONT-SIZE: 10px; COLOR: #6d6d6d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.LeftNav:visited {
	FONT-SIZE: 10px; COLOR: #6d6d6d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.LeftNav:active {
	FONT-SIZE: 10px; COLOR: #6d6d6d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.LeftNav:hover {
	FONT-SIZE: 10px; COLOR: #002563; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.MainNav:link {
	FONT-SIZE: 10px; COLOR: #2e4c7c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.MainNav:visited {
	FONT-SIZE: 10px; COLOR: #2e4c7c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.MainNav:active {
	FONT-SIZE: 10px; COLOR: #2e4c7c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.MainNav:hover {
	FONT-SIZE: 10px; COLOR: #fc8220; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.SearchNav:link {
	FONT-SIZE: 11px; COLOR: #2e4c7c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.SearchNav:visited {
	FONT-SIZE: 11px; COLOR: #2e4c7c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.SearchNav:active {
	FONT-SIZE: 11px; COLOR: #2e4c7c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.SearchNav:hover {
	FONT-SIZE: 11px; COLOR: #fc8220; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.Inner:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #f89827; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.Inner:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #f89827; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.Inner:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #f89827; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.Inner:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #f89827; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.textbox {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.button {
	FONT-SIZE: 10px; WIDTH: 150px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fdd8d8; TEXT-DECORATION: none
}
.heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f89827; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textbot {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #b0b0b0; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ThankStyle {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #002f63; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.testi:link {
	FONT-SIZE: 11px; COLOR: #002f63; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.testi:visited {
	FONT-SIZE: 11px; COLOR: #002f63; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.testi:active {
	FONT-SIZE: 11px; COLOR: #002f63; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.testi:hover {
	FONT-SIZE: 11px; COLOR: #002f63; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.smalltext {
	FONT-SIZE: 10px; COLOR: #6d6d6d; FONT-FAMILY: Verdana;
	width: 117px;
	text-align: left;
}
.smallbutton {
	FONT-SIZE: 10px; COLOR: #6d6d6d; FONT-FAMILY: Verdana;

	text-align: center;
    height: 20px;
}
.smalltextblue {
	FONT-SIZE: 11px; COLOR: #012f84; FONT-FAMILY: Verdana ; text-align:left }
}
.smalltextred {
	FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Verdana ; text-align:left 
}
.smalltextwhite {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana ; text-align:left 
}
.smalltextgrey {
	FONT-SIZE: 10px; COLOR: #757575; FONT-FAMILY: Verdana ; text-align:left 
}
.smalltextbold {
	FONT-SIZE: 11px; COLOR: #6d6d6d; FONT-FAMILY: Verdana
}
.bigtextbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6d6d6d; FONT-FAMILY: Verdana
}
A.buylink:link {
	FONT-SIZE: 10px; COLOR: #023263; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.buylink:visited {
	FONT-SIZE: 10px; COLOR: #023263; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.buylink:active {
	FONT-SIZE: 10px; COLOR: #023263; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.buylink:hover {
	FONT-SIZE: 10px; COLOR: #023263; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
