.diasemana {font-size:9px;color:white;background:#0768A3;font-family: "Verdana", "Tahoma","Arial";}
.diadomingo {font-size:9px;color:#FDBE86;background:#0768A3;font-family: "Verdana", "Tahoma","Arial";}
.dmd {font-style:normal;font-size:9px;color:gray;background: white;text-align:right;font-family: "Verdana","Tahoma","Arial";}
.dls {font-style: normal;font-size:9px;color:red;background: #DBEAF5;text-align: right;font-family: "Verdana","Tahoma","Arial";}
.dlmds {font-style: normal;font-size:9px;color:#BF6640;background: #DBEAF5;text-align: right;font-family: "Verdana","Tahoma","Arial";}
.dl {font-style: normal;font-size:9px;color:black;background: #DBEAF5;text-align: right;font-family: "Verdana","Tahoma","Arial";}
.dlmd {font-style: normal;font-size:9px;color:gray;background: #DBEAF5;text-align:right;font-family: "Verdana","Tahoma","Arial";}
.dn {font-style: normal;font-size:9px;color:black;background: white;text-align:right;font-family: "Verdana","Tahoma","Arial";}
.da {font-style: normal;font-size:9px;color:black;background: #FDBE86;text-align: right;font-family: "Verdana","Tahoma","Arial";}
.das {font-style: normal;font-size:9px;color:red;background: #FDBE86;text-align: right;font-family: "Verdana","Tahoma","Arial";}
.dv {font-style: normal;font-size:9px; color:black;background: #1fef29;text-align: right;font-family: "Verdana","Tahoma","Arial";}
.dva {font-style: normal;font-size:9px;color:black;background: #ffffcc;text-align: right;font-family: "Verdana","Tahoma","Arial";}
.dvf {font-style: normal;font-size:9px;color:black;background: #9999ff;text-align: right;font-family: "Verdana","Tahoma","Arial";}
